<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %} Teste de Sistemas{% endblock %}</title>
    <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <div id="mini_menu" align="center">
        <br>
    <a href="/logout/">Logout</a>
        <br>
        <br>
    <a href="/">Voltar ao Menu Principal</a>
        <br>
        <br>
    </div>
        <div id="content">
    {% block content %}{% endblock %}
        </div>

</body>
<footer>
    {% load static %}
<div align="center">
    <h5>Desenvolvido por Albislan de Oliveira - Se Preferir poderá entrar em contato por e-mail
     <a href="mailto:albislan@hotmail.com"><img src="{% static 'img/email.jpg' %}" width="50px"></a>
                            Ou Pelo celular (82) 98145-2341 <a href="tel:11983565104">
                             <img src="{% static 'img/whatsapp.jpg' %}" width="50px"></a></h5>
</div>
</footer>
</html>