{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lista de Produtos para Testes{% endblock %}</title>

</head>
<body>
    {% block content %}
    <h2>Lista de Produtos</h2>
<a href="{% url 'prod_create' %}">
    <button type="button" class="btn btn-outline-success btn-lg" style="float: right; margin-bottom: 5px">Adicionar</button>
</a>
    <form>
        <div class="form-group mb-1">
            <input class="form-control" type="text" name="name" placeholder="Buscar por Nome...">
        </div>
        <button type="submit" class="btn btn-outline-primary">Buscar</button>
    </form>

    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nome:</th>
            <th>Tipo:</th>
            <th>Marca:</th>
            <th>Estoque Atual:</th>
            <th>observacoes:</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for produto in produto_list %}
            <tr>
                <td><a href="{{ produto.get_absolute_url }}">{{ produto.nome }}</a></td>
                <td>{{ produto.tipo }}</td>
                <td>{{ produto.marca }}</td>
                <td>{{ produto.estoq }}</td>
                <td>{{ produto.observacoes }}</td>

                 <form method="post" action="{{ produto.get_delete_url }}">{% csrf_token %}
                 <td><button type="submit" class="btn btn-outline-danger">Excluir</button></td>
                 </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html' %}
    {% endblock %}

</body>
